<html>
    <head>
        <link href = "/assets/style.css" type = "text/css" rel = "stylesheet"> </link>
    </head>
    <body>
        <h1>Person: <%= ID %> <%= ID.length %> </h1>
        <h2> Querystring Value: <%= Qstr %> </h2>
    </body>
    </html>